<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <mat-form-field id="address">
        <mat-label>Indirizzo Wallet</mat-label>
        <input type="text" matInput minlength="42" maxlength="42" inputmode="address" placeholder="0x..."
            formControlName="address" #nameInput>
        <mat-error class="errorMsg" *ngIf="form.controls['address'].errors?.['required']">Inserire un
            indirizzo</mat-error>
        <mat-error class="errorMsg" *ngIf="form.controls['address'].errors?.['pattern']">L'indirizzo non rispetta il
            formato corretto
        </mat-error>
    </mat-form-field>

    <button color="primary" type="submit" [disabled]="!form.valid" mat-fab extended>
        <mat-icon>search</mat-icon>
        Cerca
    </button>
</form>

<ul *ngIf="len.length>0">
    <app-recensione *ngFor="let i of len" [Review]="arrayReviews[i]" [Address]="arrayAddresses[i]"
        [Rating]="arrayRatings[i]" [Status]="arrayStatus[i]" [ActiveAction]="false"></app-recensione>
</ul>