form {
    text-align: center;
    padding: 1em;
}

.recensione {
    padding: 1em;
    list-style-type: none;
}

.recensione > span {
    display: block;
}

form > button {
    background-color: #999999;
}
