<div id="personal-area">
    <h1>Area Personale</h1>
    <div id="form-new-review">
        <h2>Inserisci nuova recensione</h2>
        <form>
          <fieldset>
            <legend>Nuova recensione</legend>
            <mat-form-field appearance="fill">
              <input matInput placeholder="Indirizzo attività da recensire" required>
              <mat-hint>inserire Indirizzo tipo 0x...</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <textarea matInput placeholder="Recensione" required></textarea>
              <mat-hint>inserire recensione</mat-hint>
            </mat-form-field>

            <h3>Valutazione:</h3>
            <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
            <button mat-raised-button>Inserisci</button>
          </fieldset>
        </form>


    </div>
    <!--ngFor ciclando su tutte le recensioni che ha l'utente autenticato attive (sarà tipo <li ngFor"let recensione of recensioni">...</li>)-->
    <div id="overview-review">
        <h2>Panoramica recensioni personali</h2>
        <ul>
            <li>
                recensione 1
            </li>
            <li>
                recensione 2
            </li>
            <li>
                recensione 3
            </li>
        </ul>
    </div>
</div>
