<div id="personal-area">
    <h1>Area Personale</h1>
    <div id="form-new-review">
        <h2>Inserisci nuova recensione</h2>
        <label for="address">Indirizzo attività da recensire: </label>
        <input type="text" name="address" id="address"><br>
        <label for="description">Descrizione: </label>
        <input type="text" name="description" id="description"><br>

        <p>Valutazione:</p>
        <app-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
        <button>Inserisci</button>
    </div>
    <!--ngFor ciclando su tutte le recensioni che ha l'utente autenticato attive (sarà tipo <li ngFor"let recensione of recensioni">...</li>)-->
    <div id="overview-review">
        <h2>Panoramica recensioni personali</h2>
        <ul>
            <li>
                recensione 1
            </li>
            <li>
                recensione 2
            </li>
            <li>
                recensione 3
            </li>
        </ul>
    </div>
</div>


