@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{
  text-align: center;
}

h2 {
  margin: 1.5em;
}

form {
  display: inline-block;
  width: 50%;
}

fieldset {
  border-radius: 1em;
}

legend {
  text-align: left;
  margin: 2em;
}

mat-form-field {
  display: block;
  margin: 1em;
}

input, textarea {
  text-align: left;
}

button {
  margin-bottom: 1em;
}

#reviews-overview {
  border: 1px solid #000;
  border-radius: 1em;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#reviews-overview button {
  color: #000;
}

#reviews-overview button:hover {
  cursor: default;
}

ul {
  list-style: none;
  margin: 2em;
}

li {
  border-bottom: 1px solid #000;
}

li:last-child {
  border-bottom: none;
}
