<main>
  <p id="description" class="mat-body">
    <br />
    Benvenuto su <span class="mat-body-strong">Trustify</span>, la prima
    piattaforma di recensioni basata su web3! <br />
    Tramite <span class="mat-body-strong">Trustify</span> potrai effettuare
    pagamenti di beni/servizi verso le attività convenzionate e,
    successivamente, rilasciarne una recensione. <br />
    I pagamenti e le recensioni verranno memorizzate su Blockchain Ethereum, che
    ne garantirà integrità e persistenza.
    <br /><br />
    Provalo!
  </p>

  <h2>Visualizza le recensioni di un'attività</h2>

  <div>
    <app-search-bar></app-search-bar>
  </div>
</main>
