#overview-review {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid #000;
  /* border-radius: 1em; */
}

li  {
  margin: 1em;
}

.status {
  text-align: right;
}

mat-card-header{
  display: block;
}

button {
  margin: 0 1em;
}

mat-card-actions{
  display: inline-flex;
}
