<div id="overview-review">
  <h2>Panoramica recensioni personali</h2>
  <p *ngIf="len.length==0">Nessuna recensione presente</p>
  <ul id="ReviewList" *ngIf="len.length>0">
    <li *ngFor="let i of len">
      <p [id]='"indirizzo"+i'>{{arrayAddresses[i]}}</p>
      <app-star-rating [rating]="arrayRatings[i]" [starCount]="starCount" (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
      <!-- <button mat-icon-button *ngFor="let s of starArr" color="accent" disabled>
        <mat-icon>
          {{showStarsReview(s,i)}}
        </mat-icon>
      </button><br> -->
      <p [id]='"descrizione"+i' contenteditable="false">{{arrayDescriptions[i]}}</p><br>
      <div id="review-buttons">

        <button mat-raised-button [id]='"modifica"+i' (click)="editReview(i)">Modifica</button>
        <button mat-raised-button (click)="deleteReview(arrayAddresses[i])">Cancella</button>

      </div>
    </li>
  </ul>
</div>



