#overview-review {
  display: block;
  padding: 1em;
}

#status {
  text-align: right;
}

mat-card-header{
  display: block;
}

button {
  margin: 0 1em;
}

mat-card-actions{
  display: inline-flex;
}
