<div id="paymentWrapper">
  <h1 id="paymentTitle">Effettua un pagamento</h1>
  <form id="payment" method="post">
    <fieldset>
      <legend xml:lang="en" lang="en">Dettagli del pagamento</legend>
      <label for="paymentAddress"
        ><span xml:lang="en" lang="en"
          >Indirizzo wallet beneficiario:</span
        ></label
      >
      <input #address
        id="paymentAddress"
        class="campo_input"
        name="address"
        maxlength="42"
      />
      <label for="paymentAmount"
        ><span xml:lang="en" lang="en"
          >Quantità token da trasferire:</span
        ></label
      >
      <input #amount id="paymentAmount" type="number" class="campo_input" />
      <button color="primary" type="submit" value="Continua" (click)="pay(address.value, amount.value)">Continua!</button>





      <button color="primary" type="submit" value="Continua" (click)="getToken()">Ottieni token free!</button>

    </fieldset>
  </form>


</div>
