<div id="paymentWrapper">
  <form id="payment" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <fieldset>
      <mat-form-field appearance="fill">
        <mat-label>Indirizzo wallet</mat-label>
        <input matInput placeholder="0x..." formControlName="address" required minlength="42" maxlength="42" />
        <mat-error class="errorMsg" *ngIf="form.controls['address'].errors?.['required']">Inserire un
          indirizzo</mat-error>
        <mat-error class="errorMsg" *ngIf="form.controls['address'].errors?.['pattern']">L'indirizzo non rispetta il
          formato corretto</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantità di token</mat-label>
        <input matInput formControlName="tokens" required />
        <mat-error class="errorMsg" *ngIf="form.controls['tokens'].errors?.['required']">
          Inserire un importo di token</mat-error>
        <mat-error class="errorMsg" *ngIf="form.controls['tokens'].errors?.['pattern']">
          L'importo dev'essere un intero maggiore di zero
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput disabled class="accountBalance" value="Hai {{accountBalance}} token a disposizione" />
      </mat-form-field>

      <button color="primary" type="submit" [disabled]="!form.valid" mat-fab extended>
        <mat-icon>shopping_cart_checkout</mat-icon>
        Paga
      </button>

      <button color="primary" type="submit" value="Continua" (click)="getToken()" mat-fab extended>
        Ottieni token free!
      </button>
    </fieldset>
  </form>
</div>

<app-progress-spinner [overlay]="true" *ngIf="isProgressSpinnerVisible"></app-progress-spinner>