header {
    text-align: center;
    min-height: 50px;
}

h1 {
    font-size: 3em;
    padding: 0.5em;
}

nav {
    padding: 1.5em;
}

:host ::ng-deep mat-tab-header {
    top: 0;
    position: sticky;
    position: -webkit-sticky; /* macOS/iOS Safari */
    z-index: 2;
    background-color: white;
    border-bottom: 1.5px solid #3f51b5;
}

#icon-close {
    padding: 0.3em;
    border-radius: 50%;
    background-color: red;
    color: white;
}

#icon-done {
    padding: 0.3em;
    border-radius: 50%;
    background-color: green;
    color: white;
}

#button-tab,
#button-tab * {
    box-sizing: border-box;
}

#button-tab button {
    width: 100%;
    display: block;
}

.container-btn {
    margin: 0 auto;
}

.active-btn {
    color: black !important;
}

mat-tab:disabled {
    cursor: none;
}
